<div class="container">
    <div class="left-pane">
        <div class="avatar-container">
            <img src="/images/page-1.png"
                srcset="/images/page-1@2x.png 2x,
                /images/page-1@3x.png 3x"
                class="avatar-container-img">
        </div>
        <div class="description">
            <span class="description-title">Front-end challenge!</span>
            <span class="description-sub">This is a design that you will need to code up and impress us.</span>
        </div>
        <div class="slider-arrow">
            <div id="toggleSlider"></div>
        </div>
    </div> 
    <div class="right-pane">
        <div class="form-container">
                <form id="form" action="#" class="clearfix">
                        <div>
                            <label class="form-labels" for="name">
                                <span>Name: </span>
                            </label>
                                <input type="text" id="name" name="username" placeholder="Rainer Harmse">
                        </div>
                        <div class="gender-radio clearfix">
                            <label class="form-labels" for="gender">
                                    <span>Gender:</span>
                            </label>  
                                    
                            <input id="radio-male" checked type="radio" name="gender" value="male">  
                            <div class="male-img inline-radio"></div>
                            <label for="gender">
                                    <span>Male:</span>
                            </label>

                            <input id="radio-female" type="radio" name="gender" value="female">
                            <div class="female-img inline-radio"></div>
                            <label for="gender">
                                    <span>Female:</span>
                            </label> 
                        </div>

                        <div>
                            <label class="form-labels" for="dateofbirth">
                                <span>Date of Birth: </span>
                            </label>
                            <input type="date" id="dateofbirth" name="dateofbirth" placeholder="01/02/1983">
                        </div>

                        <div>
                            <label class="form-labels" for="email">
                                <span>Email: </span>
                            </label>
                            <input type="text" id="email" name="email" placeholder="rainer.harmse@gmail.com">
                        </div>

                        <div>
                            <label class="form-labels" for="mobile">
                                <span>Mobile: </span>
                            </label>
                            <input type="number" id="mobile" name="mobile" placeholder="076 788 2938">
                        </div>

                        <div>
                            <label class="form-labels" for="customer-id">
                                <span>Customer ID: </span>
                            </label>
                            <input type="text" id="customer-id" name="customer-id" placeholder="-\39 8765-43210 ">
                        </div>

                        <div id="membership" class="clearfix">
                            <label class="form-labels" for="membership">
                                <span class="membership-label">Membership:</span>    
                                <div class="classic-card card-icon-icon"></div>
                                <input checked type="radio" name="membership" value="classic"> Classic
                                <div class="card-icon-icon"></div>
                                <input type="radio" name="membership" value="silver"> Silver
                                <div class="card-icon-icon"></div>
                                <input type="radio" name="membership" value="gold"> Gold
                            </labe>
                        </div>

                        <div class="form-buttons-container">
                            <input class="form-buttons form-buttons-save" type="submit" value="SAVE"> 
                            <input class="form-buttons form-buttons-cancel" type="reset" value="CANCEL">
                        </div> 
                </form>
        </div>
    </div>
    <div class="right-pane cover">
        <div class="right-pane-content">
            <div class="right-pane-title">
                <h1>My world today</h1>
            </div>
            <div class="right-pane-description">
                <p>
                    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. <a href="#">View all days</a> eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat
                </p>
            </div>
        </div>
    </div>
</div>